/* Variables */
:root{
    --background_nav:#96af64;
    --text_h1:#f5f5f5;
    --card_border:#17301b;
}


/* General Styles */

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0rem;
}
nav, footer{
    background-color: var(--background_nav);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

nav{
    justify-content: flex-end;
}

footer{
    justify-content: center;
    height: 2rem;
}

figure{
    margin: 0em;
}

input{
    border-radius: 6px;
    height: 3rem;
    padding-left: .5rem;
}
/* First element of nav container aligned to left */
nav > a:first-child{
    color:var(--text_h1);
    margin-right: auto;
}

nav > a{
    color:var(--text_h1);
    text-decoration: none;
}

section{
    padding: 1rem;
    height: auto;
}

h1 {
    color: #f5f5f5;
    font-size: 2.5rem;
    text-align: center;
  }

h2{
    text-align: center;
    margin: 0em;
    padding: 1em;
    font-size: 2rem;
}

img{
    width: 100%;
    height: auto;
}

p{
    text-align: justify;
}
/* Class styles */

.text-center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
  }
.centered{
    position: center;

}

/* Lists */
ul{
    padding-inline-start: 0rem;
}

.ul-flex{
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
}

.ul-flex > li{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-flex > li > img {
    height: 1em;
    width: 1em;
    padding-right: 0.5em;
}

.ul-flex > li> a{
    flex-wrap: nowrap;
}
/* Containers */
.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 25vw;
    border: 1px solid var(--card_border);
    border-radius: 15px;
    overflow: hidden;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex: 33.33%;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 2rem;
}

.card > p{
    padding: 1em;
    align-items: stretch;
}

.card > button{
    width: 50%;
    justify-items: center;
    margin: 1em auto 1em auto;
    padding: .5em 1em ;
    background-color: var(--background_nav);
}

.card > img{
    height: 200px;
    align-self: stretch;
    width: auto;
}

.container{
    position: relative;
}
.cont-aptituds{
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 2rem 4rem 2rem 4rem;
    background-color: var(--background_nav);
}
.cont-aptituds > div{
    width: 100%;
    padding: 0rem 4rem;
}

.cont-aptituds-grid{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10vw;
	width: 80vw;
	padding: 2rem 4rem 2rem 4rem;
	background-color: var(--background_nav);
}

.cont-detalle{
	display: inline-block;
	position: relative;
	text-align: center;
    width: 25vw;
}

.cont-hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-hobbies-grid{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
	align-items: center;
	column-gap: 3rem;
    row-gap: 3rem;
	width: 75vw;
    margin-bottom: 9rem;
}

.cont-hobbies-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 10vh;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: var(--background_nav);
}

.cont-hobbies-detail > img{
    height: 40px;
    width: auto;
}

.cont-hobbies-detail > figcaption{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.cont-detalle > p{
	font-size: 5vw;
	position: absolute;
	margin: 0rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section-colored{
    background-color:var(--background_nav);
    opacity: 0.8;
}
.section-colored > div{
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 2em;
}
.section-colored > h2{
    color: var(--text_h1);
}

.section-aptituds{
    display: grid;
    justify-content: space-around;
    background-color: var(--background_nav);
    gap: 1rem;
}
.intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 1rem 2rem;
    gap: 1rem;
}

.intro > h2{
    grid-column: span 3;
}
.intro > .article{
    grid-column: span 2;
}
.margin-left{
    margin-left: 8vw;
}

/* Images */
.icon{
    height: 2rem;
    width: 2rem;
}

.image-10em{
    height: 10em;
    width: 10em;
}

.img-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 15rem;
    display: grid;
    place-content: center;
}

.img-cover.inici > h1{
    padding: 0rem 1rem 0rem 1rem;
}
.contacte{
    background-image: url('../assets/img/MountainRiver.jpg');
}

.inici{
    background-image: url('../assets/img/Baztan.jpg');
}

.cv{
    background-image: url('../assets/img/pista_camp1.webp'); 
}
/* Tables */
.table-borders{
    /* width: 40vw ; */
    min-width: 40vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-collapse: separate;
    border: 1px solid #ddd;

}
.table-borders th, td{
    text-align: center;
    border: 1px solid #ddd;
    padding: .75rem;
}

.table-borders th{
    font-weight: 900;
}

/* Forms */
.contact-form{
    width: 50vw;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .85fr 1fr .85fr 1fr .85fr 3fr repeat(2, 1fr);
}

.contact-form > label{
    padding-top: 1.25rem;
}

.contact-form > button {
    width: auto;
    height: 2.5rem;
    margin: 0rem auto;
    padding: 0rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}

#optin{
    vertical-align: middle;
    line-height: .5;
}
/* ----------------- Responsive ------------ Media queries ----------------- */

@media only screen and (max-width: 992px){
    .intro{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding: 1rem 2rem;
        gap: 1rem;
    }

    .intro > h2{
        grid-column: span 2;
    }
    .intro > .article{
        grid-column: span 1;
    }
}

@media only screen and (max-width: 768px) {

    .cont-hobbies-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
        width: 75vw;
        margin-bottom: 9rem;
    }

    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }

    .contact-form{
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {

    h2{
        font-size: 1rem;
    }

    .cont-hobbies-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
        width: 75vw;
        margin-bottom: 9rem;
    }

    .contact-form{
        width: 80vw;
    }

    .intro{
        display: flex;
        flex-direction: column;
    }

    .intro > .article{
        order: 3;
    }

    .table-borders{
        max-width: fit-content;
    }

    .table-borders > tr{
        font-size: .75 rem;
    }
  } 


